/*.navbar{
	background-color:#636c8f;
	color:white;
}*/
.table td, .table thead th{
	  vertical-align:middle;
	  padding: 0px 10px 0px;

  }
  .table thead th{
	font-size: 13px;
    font-weight: 500;
	  
  }
  
  /* width 
::-webkit-scrollbar {
  width: 10px;
}*/

/* Track 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle 
::-webkit-scrollbar-thumb {
  background:#4a0025; 
  border-radius: 10px;
}

/* Handle on hover 
::-webkit-scrollbar-thumb:hover {
  background: #ffb0d7; 
}*/
 #wrapper {
    overflow-x: hidden;
	overflow-y:hidden;
 }

#sidebar-wrapper {
  background-color:#222042;
  height:100%;
  bottom:0 !important;
  color:white;  
  min-height: 100%;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  overflow-y:hidden;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
.dropdown-menu{
	background-color:#080714;
	margin-left:10%;
}
.list-group ul li{
	background-color: #222042;
    color: white;
    font-size: 15px;
    /*border-bottom: 1px solid #fff5b5;*/
    padding: 10px 0px;
	list-style-type:none;
}
.list-group ul li a{
	 color: white;
}
.list-group ul li a:hover{
	 color: #777777;
	 text-decoration:none;
}
hr.hr-dashed {
    margin-top:8px;
    margin-bottom:0px;
    border: 0;
    border-top: 1px dashed #d9e3f1;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
hr.hr-solid {
    margin-top:0px;
    margin-bottom:0px;
    border: 0;
    border-top: 1px solid #d9e3f1;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
.border-bottom {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-bottom: 2px solid #222042 !important;
}
.fa{
	width:30px;
	font-size:25px;
}
.fa:hover{
	opacity:0.6;
}
.footer{
	background-color:#222042;
	color:white;
	padding-top:10px;
}
.dropdown-item:focus, .dropdown-item:hover,.dropdown-item:active {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
